* {
    box-sizing: border-box;
    margin: 0;

    &::before,
    &::after {
        @extend *;
    }
}

html {
    margin: 0;
    padding: 0;
    color: #000;
}

body {
    @extend html;
    background: white;
    min-height: 100%;
}

html,
body {
    font-family: $font-family-sans-serif;
}

li {
    list-style: none;
}

a {
    text-transform: none;
    text-decoration: none;
    // color: white;

    &:active,
    &:focus,
    &:hover {
        text-decoration: underline;
        text-decoration: none;
        outline: 0;
        // color: white;
    }
}

input {
    outline-color: transparent;

    &:focus,
    &:active {
        outline-color: transparent;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.flex {
    display: flex;
}

.flex__jc {
    justify-content: center;
}

.flex__jsb {
    justify-content: space-between;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.form__group.evento__detallar {
    display: none;
}

.form__group.evento__detallar.show {
    display: block;
}

.flex__wraps {
    flex-wrap: wrap;
}

.flex__end {
    display: flex;
    align-items: flex-end;
}
.navbar-brand{
    width: 130px;
    img{
        width: 100%;
        height: auto;
    }
}
.content--imgAll {
    img{
        width: 100%;
        height: auto;
    }
}