// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem; 
$line-height-base: 1.6;

// Colors
$gris: #C6C6C6;
$gris-c: #757575;
$blue-title: #00BFDF;

$blue: #144aa7;
$celeste: #0bc7e0;
$verde: #9fc643;
$turquesa: #44bab4;
$naranja: #fab500;