.form {
    &__group {
        display: flex;
        margin: 0 -20px;
    }

    &__col {
        margin: 10px;
    }

    &__col--6 {
        width: 50%;
    }

    &__col--4 {
        width: 33.3333%;
    }

    &__col--12 {
        width: 100%;
    }

    &__input {
        border: none;
        border-radius: 4px;
        width: 100%;
        color: black;
        height: 40px;
        border: 1px solid $gris;
        padding: 5px 10px;
        font-size: 16px;

        &:focus {
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }
    }

    &__btn {
        border-radius: 4px;
        background: $celeste;
        padding: 15px;
        border: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
    }

    &__select {
        height: 40px;
        border: none;
        border: 1px solid $gris;
        border-radius: 4px;
        padding: 5px 10px;
        cursor: pointer;
        outline: transparent;
        color: $gris-c;
        width: 100%;
        font-size: 16px;
        -webkit-appearance: none;

        &--box {
            position: relative;

            &:after {
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                border-top-color: #00bfdf;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 5px solid #757575;
                right: 13px;
                top: 50%;
                margin-top: -4px;
                z-index: 1;
            }

            &.after-active {
                &:after {
                    transform: rotate(-180deg);
                    margin-top: -6px;
                }
            }
        }
    }

    &__checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px 0 10px 0;

        input[type=checkbox] {
            position: relative;
            cursor: pointer;
            background: white;
            margin: -2px 10px 0 10px;
        }

        input[type=checkbox]:after {
            content: "";
        }

        input[type=checkbox]:before {
            content: "";
            display: block;
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            left: 0;
            border: 1px solid #2db3e6;
            border-radius: 2px;
            background-color: white;
        }

        input[type=checkbox]:checked:after {
            content: "";
            display: block;
            width: 4px;
            height: 9px;
            border: solid white;
            border-width: 0 1.5px 1.5px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 2.5px;
            left: 5.5px;
        }

        input[type=checkbox]:checked:before {
            background-color: #2db3e6;
        }


        label {
            font-size: 16px;
            color: $gris-c;
            cursor: pointer;
            margin: 0;
        }   
    }

    &__textarea {
        border: 1px solid $gris;
        color: $gris-c;
        resize: none;
        height: 100px;
        font-size: 16px;
        width: 100%;
        outline: none;
        border-radius: 4px;
    }

    &__detail {
        font-size: 10px;
        position: relative;
        margin-top: 20px;
        ol {
            padding: 0;
            list-style: none;
            counter-reset: my-awesome-counter;

            &::before {
                content: '';
                width: 162px;
                border-top: 2px solid #8f8f8f;
                position: absolute;
                top: -14px;
            }
        }

        ol li {
            counter-increment: my-awesome-counter;
        }

        ol li::before {
            content: counter(my-awesome-counter);
            margin-right: 10px;
            position: relative;
            top: -4px;
        }
    }

    &__ver {
        input {
            margin: 10px 0;
        }
    }

    &__buttons {
        margin: 70px 0 0 0;

        button {
            margin: 0 10px;
            padding: 15px 30px;
        }
    }

    &__img {
        display: flex;
        flex-direction: column;

        img {
            width: 500px;
            height: auto;
            margin: 20px 0 0 0;
        }
    }
}

.input__file[type='file'] {
    color: transparent !important;
    width: 100%;
}

.input__file {
    background: #00bfdf;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: block;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0 0 0 0;

    &:first-child {
        position: relative;
        outline: none;
        color: black;
        background: white;
        padding: 10px 10px 10px 50px;
        padding: 10px 0 10px 0;
        border-radius: 0;

        &::before {
            content:'Adjuntar archivo';
            display: block;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            padding: 12px 0;
            margin: 0;
            font-size: 15px;
            font-weight: bold;
            color: white;
            background: $turquesa;
            width: 200px;
            text-align: center;
            transition: .5s;
        }                                  
    }
}
.flex-end{
    justify-content: flex-end;
}
.flex-start{
    justify-content: flex-start;
}