.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    &__tabs {
        width: 100%;
        padding: 0;
        display: flex;
        color: $gris-c;
        margin: 0 0 -1px 0;

        li {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: 18px;
            border-bottom: 1px solid #c6c6c6;
            border-left: 1px solid #c6c6c6;
            cursor: pointer;

            &:first-child {
                border-left: 1px solid transparent;
                border-radius: 3px 0 0 0;
            }

            &.active {
                border-bottom: 1px solid transparent;
                font-weight: bold;

                &::before {
                    content: "";
                    position: absolute;
                    height: 4px;
                    background: #00bfdf;
                    width: calc(100% + 2px);
                    top: -1px;
                    left: -1px;
                    border-radius: 3px 3px 0 0;
                }

                &:first-child {
                    border-left: 1px solid #c6c6c6;
                }

                &:nth-child(2) {
                    border-right: 1px solid #c6c6c6;
                }
            }

            a {
                padding: 15px 50px;
            }
        }
    }

    &__body {
        width: 100%;
        border: 1px solid #c6c6c6;
        border-top: 0px;
        border-radius: 0 0 3px 3px;
        padding: 20px;

        &--card {
            display: none;
            width: calc(100% - 40px);
            margin: 20px auto 10px auto;
        }
    }

    &__box {
        min-width: 560px;
        background: white;
        margin-top: 30px;
        

    }

    &__logo {
        width: 300px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}
