.modal {
	&-header {
		border-bottom: 1px solid transparent;
		padding: 0;

		button {
			position: absolute;
			right: 35px;
			top: 30px;
			z-index: 1;
			outline: none;
		}
	}

	&__report {
		.report__content {
			padding: 40px;
		}

		.report__title h2 {
			font-size: 20px;
		}

		.report__title h1 {
			font-size: 30px;
		}

		.form__col {
			margin: 0 37px;
		}

		.form__ver {
			p {
				margin: 0;
			}
		}
	}

	&__img {
		width: 600px;
		height: auto;

	}
}