.report {
    display: none;

    &.active {
        display: block;
    }

    &__content {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid $celeste;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 60px 80px;
        
        h4 {
            margin-top: 35px;
            color: $gris-c; 
        }
        
        h6 {
            width: 100%;
            color: $gris-c;

        }

        .form__group {
            margin: 0 -10px;
        }
    }

    &__title{
        margin-bottom:40px;
        text-align: center;

        h2, h1{
            color: $blue-title;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 25px;
        }
    }

    .space {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__cols {
        margin: 50px 0;
    }
}

.webform-progressbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

    &__content {
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        width: 100%;
        position: relative;

        &::before {
            content: '';
            width: 100%;
            display: block;
            border-top: 3px solid #e5e5e5;
            position: absolute;
            top: 50%;
        }
    }

    &__circle {
        font-weight: bold;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #e5e5e5;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #908f8f;
        position: relative;

        &.active {
            color: #FFFFFF;
            background: #00BFDF;
            border: 3px solid #00BFDF;

            &::before {
                content: '';
                width: 28px;
                height: 16px;
                position: absolute;
                display: block;
                top: 80px;
                left: 50%;
                margin-left: -7px;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid $celeste;
            }

            &::after {
                content: '';
                width: 28px;
                height: 16px;
                position: absolute;
                display: block;
                top: 81px;
                left: 50%;
                margin-left: -7px;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid white;
            }
        }

    }

    &__text {
        color: #221f20;
        font-size: 16px;
    }
}

.tooltip-report {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
        .tooltip-report__card {
            visibility: visible;
        }
    }

    i {
        color: $turquesa;
        display: block;
        right: 0;
        position: relative;
        top: 50%;
        margin-left: 15px;
        margin-top: -14px;

        &.variant{
            &::before {
                position: absolute;
                top: 35%;
                left: -8%;
            }  
        }
        &.variant2{
            &::before {
                position: absolute;
                top: 35%;
                left: -2%;
            }  
        }

        &::before {
            position: absolute;
            top: 40%;
            left: -8%;
        }
    }

    &__card {
        visibility: hidden;
        margin-left: 15px;
        padding: 10px;
        background: black;
        color: #fff;
        border-radius: 4px;
        font-family: Roboto;
        position: absolute;
        width: 300px;
        background: $turquesa;
        right: 0;
        top: 60px;
        z-index: 1;

        &:after {
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $turquesa;
            content: "";
            position: absolute;
            top: -5px;
            right: 39px;
        }

        p {
            font-size: 12px;
            margin: 0;
        }
    }

    h4 {
        width: 100%;
        display: flex;
    }
}
