.table{
    max-width:1200px;
    box-shadow: 0px 4px 12px rgba(143, 143, 143, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    margin: 50px auto; 
    color: #757575;
    &-triangle{
        position:relative;
        &:before,
        &:after{
          z-index:1;
          position:absolute;
          content: "";
          display: block;
          right:-22px;
          width: 0px;
          height: 4px;
          border-left: solid 6px transparent;
          border-right: solid 6px transparent;
        }
      &--asc{
        &:before{
          top:-27px;   
          border-bottom: solid 6px gray;
        }
        &.active{
          &:before{
            border-bottom: solid 6px $celeste;
          }
        }
        &.hidden{
          &:before{
            border-bottom: solid 6px transparent;
          }
        }
      }
      &--des{
        &:after{
         top:-18px; 
          border-top: solid 6px gray;
        }
        &.active{
          &:after{
            border-top: solid 6px $celeste;
          }
        }
        &.hidden{
          &:after{
            border-top: solid 6px transparent;
          }
        }
      }
    }
    &-date{
      display:flex;
      align-items: center;
      justify-content: center;
      height: 100%;
        //   flex-direction:column;
      &__title{
        // padding-left:20px;
        color: #757575;
        text-align: center;
      }
      &__content{
        display:flex;
        align-items:center;
        justify-content:center;
        input{
          width:70%;
          border-radius: 4px;
          border: 1px solid #C6C6C6;
        }
      }
    }
    &-header{
    //   align-items:center;
      display:flex;
      width:100%;
      height:100%;
      border:1px solid rgba(143, 143, 143, 0.4);
      border-top-left-radius:5px;
      border-top-right-radius:5px;
      &__item{
        padding:20px 15px;
        height:100%;
        min-height:130px;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        h5{
            color: #757575;
        }
        input{
            text-align: center;
            margin: 10px 4px;
            border-radius: 4px;
            color: black;
            border: 1px solid #C6C6C6;
            padding: 7px;
            font-size: 16px;
        }
      }
    }
    &-2{
      width:20%; 
      font-size: 16px;
    }
    &-3{
      width:30%; 
    }
    &-1{
        width:15%;
    }
    &-25{
        width:25%;
    }
    &-35{
        width: 35%;
    }
    &-40{
        width:40%;
    }
    &-body{
      &__item{
        display:flex;
        border-bottom:1px solid rgba(143, 143, 143, 0.4);
        border-left: 1px solid rgba(143, 143, 143, 0.4);
        border-right: 1px solid rgba(143, 143, 143, 0.4);
        &-c{
          margin:20px;
          text-align:center;
        }
        &:hover{
          background-color:rgb(243,247,255);
        }
      }
    }
  }
  .box-piesite {
    text-align: center;
    font-size: 22px;
  }
  
  .piesite {
    position: relative;
    width: 1em;
    height: 1em;
    font-size: 10em;
    cursor: default;
  }
  
  .piesite .percent {
    position: absolute;
    top: 1.1em;
    left: .1em;
    width: 100%;
    font-size: .3em;
    text-align: center;
    z-index: 2;
  
    .symbol {
      font-size: .5em;
      vertical-align: top;
      opacity: 1;
    }
  }
  
  .piesite > #slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0px, 1em, 1em, 0.5em);
  }
  
  .piesite > #slice.gt50 {
    clip: rect(auto, auto, auto, auto);
  }
  
  .piesite > #slice > .pie {
    position: absolute;
    border: .1em solid #d4d4d4;
    width: 1em;
    height: 1em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 0.5em;
  }
  
  li.per-100 .piesite > #slice > .pie {
    border-color: #fed430;
  }
  
  li.per-38 .piesite > #slice > .pie {
    border-color: #c4d42c;
  }
  
  li.per-36 .piesite > #slice > .pie {
    border-color: #1db7bc;
  }
  
  li.per-40 .piesite > #slice > .pie {
    border-color: #3581df;
  }
  
  .piesite > #slice > .pie.fill {
    -webkit-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }
  
  .piesite.fill > .percent {
    display: none;
  }
  
  .piesite:after {
    content: '';
    display: block;
    position: absolute;
    top: .1em;
    left: .1em;
    width: .8em;
    height: .8em;
    background: white;
    border-radius: 100%;
    z-index: 1;
  }
  
  .piesite:before {
    content: '';
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    opacity: 1;
    z-index: 0;
  }
  
  .piesite:before {
    background: #aaa;
  }
  
  .box-piesite ul {
    padding: 0;
  }
  
  .box-piesite ul li {
    display: inline-block;
    margin: 10px 20px;
  }
  
  .desc {
    max-width: 200px;
    margin: 0 auto;
    color: black;
  }
  
  .desc  .parragraph {
    font-size: 16px;
    line-height: 22px;
    margin: 20px 0;
  }
  
  .desc .number {
    font-weight: bold;
    font-size: 25px;
  }
  
  ////////////////////////////////////////////////////
  //                Media Queries
  ////////////////////////////////////////////////////
  @media screen and (min-width: 600px) {
    .bar:before {
      font-size: 2em !important;
    }
    .chartBars3 .bar:before {
      font-size: 1.5em !important;
    }
  }
  
  