@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .container {
      padding: 0 15px;
      max-width: 1100px; } }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

html, body {
  margin: 0;
  padding: 0;
  color: #000; }

body {
  background: white;
  min-height: 100%; }

html, body,
body {
  font-family: "Roboto", sans-serif; }

li {
  list-style: none; }

a {
  text-transform: none;
  text-decoration: none; }
  a:active, a:focus, a:hover {
    text-decoration: underline;
    text-decoration: none;
    outline: 0; }

input {
  outline-color: transparent; }
  input:focus, input:active {
    outline-color: transparent; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex__jc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flex__jsb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.hide {
  display: none; }

.show {
  display: block; }

.form__group.evento__detallar {
  display: none; }

.form__group.evento__detallar.show {
  display: block; }

.flex__wraps {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.navbar-brand {
  width: 130px; }
  .navbar-brand img {
    width: 100%;
    height: auto; }

.content--imgAll img {
  width: 100%;
  height: auto; }

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px; }

.form__col {
  margin: 10px; }

.form__col--6 {
  width: 50%; }

.form__col--4 {
  width: 33.3333%; }

.form__col--12 {
  width: 100%; }

.form__input {
  border: none;
  border-radius: 4px;
  width: 100%;
  color: black;
  height: 40px;
  border: 1px solid #C6C6C6;
  padding: 5px 10px;
  font-size: 16px; }
  .form__input:focus {
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.form__btn {
  border-radius: 4px;
  background: #0bc7e0;
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold; }

.form__select {
  height: 40px;
  border: none;
  border: 1px solid #C6C6C6;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  outline: transparent;
  color: #757575;
  width: 100%;
  font-size: 16px;
  -webkit-appearance: none; }
  .form__select--box {
    position: relative; }
    .form__select--box:after {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-top-color: #00bfdf;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 5px solid #757575;
      right: 13px;
      top: 50%;
      margin-top: -4px;
      z-index: 1; }
    .form__select--box.after-active:after {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      margin-top: -6px; }

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px 0 10px 0; }
  .form__checkbox input[type=checkbox] {
    position: relative;
    cursor: pointer;
    background: white;
    margin: -2px 10px 0 10px; }
  .form__checkbox input[type=checkbox]:after {
    content: ""; }
  .form__checkbox input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    border: 1px solid #2db3e6;
    border-radius: 2px;
    background-color: white; }
  .form__checkbox input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2.5px;
    left: 5.5px; }
  .form__checkbox input[type=checkbox]:checked:before {
    background-color: #2db3e6; }
  .form__checkbox label {
    font-size: 16px;
    color: #757575;
    cursor: pointer;
    margin: 0; }

.form__textarea {
  border: 1px solid #C6C6C6;
  color: #757575;
  resize: none;
  height: 100px;
  font-size: 16px;
  width: 100%;
  outline: none;
  border-radius: 4px; }

.form__detail {
  font-size: 10px;
  position: relative;
  margin-top: 20px; }
  .form__detail ol {
    padding: 0;
    list-style: none;
    counter-reset: my-awesome-counter; }
    .form__detail ol::before {
      content: '';
      width: 162px;
      border-top: 2px solid #8f8f8f;
      position: absolute;
      top: -14px; }
  .form__detail ol li {
    counter-increment: my-awesome-counter; }
  .form__detail ol li::before {
    content: counter(my-awesome-counter);
    margin-right: 10px;
    position: relative;
    top: -4px; }

.form__ver input {
  margin: 10px 0; }

.form__buttons {
  margin: 70px 0 0 0; }
  .form__buttons button {
    margin: 0 10px;
    padding: 15px 30px; }

.form__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .form__img img {
    width: 500px;
    height: auto;
    margin: 20px 0 0 0; }

.input__file[type='file'] {
  color: transparent !important;
  width: 100%; }

.input__file {
  background: #00bfdf;
  border: none;
  border-radius: 5px;
  padding: 10px;
  display: block;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0 0 0 0; }
  .input__file:first-child {
    position: relative;
    outline: none;
    color: black;
    background: white;
    padding: 10px 10px 10px 50px;
    padding: 10px 0 10px 0;
    border-radius: 0; }
    .input__file:first-child::before {
      content: 'Adjuntar archivo';
      display: block;
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 12px 0;
      margin: 0;
      font-size: 15px;
      font-weight: bold;
      color: white;
      background: #44bab4;
      width: 200px;
      text-align: center;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }

.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.report {
  display: none; }
  .report.active {
    display: block; }
  .report__content {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #0bc7e0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 60px 80px; }
    .report__content h4 {
      margin-top: 35px;
      color: #757575; }
    .report__content h6 {
      width: 100%;
      color: #757575; }
    .report__content .form__group {
      margin: 0 -10px; }
  .report__title {
    margin-bottom: 40px;
    text-align: center; }
    .report__title h2, .report__title h1 {
      color: #00BFDF; }
    .report__title h2 {
      margin-bottom: 20px;
      font-size: 25px; }
  .report .space {
    margin-top: 20px;
    margin-bottom: 20px; }
  .report__cols {
    margin: 50px 0; }

.webform-progressbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px; }
  .webform-progressbar__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
    position: relative; }
    .webform-progressbar__content::before {
      content: '';
      width: 100%;
      display: block;
      border-top: 3px solid #e5e5e5;
      position: absolute;
      top: 50%; }
  .webform-progressbar__circle {
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #e5e5e5;
    background: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #908f8f;
    position: relative; }
    .webform-progressbar__circle.active {
      color: #FFFFFF;
      background: #00BFDF;
      border: 3px solid #00BFDF; }
      .webform-progressbar__circle.active::before {
        content: '';
        width: 28px;
        height: 16px;
        position: absolute;
        display: block;
        top: 80px;
        left: 50%;
        margin-left: -7px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #0bc7e0; }
      .webform-progressbar__circle.active::after {
        content: '';
        width: 28px;
        height: 16px;
        position: absolute;
        display: block;
        top: 81px;
        left: 50%;
        margin-left: -7px;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid white; }
  .webform-progressbar__text {
    color: #221f20;
    font-size: 16px; }

.tooltip-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }
  .tooltip-report:hover .tooltip-report__card {
    visibility: visible; }
  .tooltip-report i {
    color: #44bab4;
    display: block;
    right: 0;
    position: relative;
    top: 50%;
    margin-left: 15px;
    margin-top: -14px; }
    .tooltip-report i.variant::before {
      position: absolute;
      top: 35%;
      left: -8%; }
    .tooltip-report i.variant2::before {
      position: absolute;
      top: 35%;
      left: -2%; }
    .tooltip-report i::before {
      position: absolute;
      top: 40%;
      left: -8%; }
  .tooltip-report__card {
    visibility: hidden;
    margin-left: 15px;
    padding: 10px;
    background: black;
    color: #fff;
    border-radius: 4px;
    font-family: Roboto;
    position: absolute;
    width: 300px;
    background: #44bab4;
    right: 0;
    top: 60px;
    z-index: 1; }
    .tooltip-report__card:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #44bab4;
      content: "";
      position: absolute;
      top: -5px;
      right: 39px; }
    .tooltip-report__card p {
      font-size: 12px;
      margin: 0; }
  .tooltip-report h4 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .login__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .login__tabs {
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #757575;
    margin: 0 0 -1px 0; }
    .login__tabs li {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      font-size: 18px;
      border-bottom: 1px solid #c6c6c6;
      border-left: 1px solid #c6c6c6;
      cursor: pointer; }
      .login__tabs li:first-child {
        border-left: 1px solid transparent;
        border-radius: 3px 0 0 0; }
      .login__tabs li.active {
        border-bottom: 1px solid transparent;
        font-weight: bold; }
        .login__tabs li.active::before {
          content: "";
          position: absolute;
          height: 4px;
          background: #00bfdf;
          width: calc(100% + 2px);
          top: -1px;
          left: -1px;
          border-radius: 3px 3px 0 0; }
        .login__tabs li.active:first-child {
          border-left: 1px solid #c6c6c6; }
        .login__tabs li.active:nth-child(2) {
          border-right: 1px solid #c6c6c6; }
      .login__tabs li a {
        padding: 15px 50px; }
  .login__body {
    width: 100%;
    border: 1px solid #c6c6c6;
    border-top: 0px;
    border-radius: 0 0 3px 3px;
    padding: 20px; }
    .login__body--card {
      display: none;
      width: calc(100% - 40px);
      margin: 20px auto 10px auto; }
  .login__box {
    min-width: 560px;
    background: white;
    margin-top: 30px; }
  .login__logo {
    width: 300px; }
    .login__logo img {
      width: 100%;
      height: auto;
      -o-object-fit: cover;
      object-fit: cover; }

.table {
  max-width: 1200px;
  -webkit-box-shadow: 0px 4px 12px rgba(143, 143, 143, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 12px rgba(143, 143, 143, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 50px auto;
  color: #757575; }
  .table-triangle {
    position: relative; }
    .table-triangle:before, .table-triangle:after {
      z-index: 1;
      position: absolute;
      content: "";
      display: block;
      right: -22px;
      width: 0px;
      height: 4px;
      border-left: solid 6px transparent;
      border-right: solid 6px transparent; }
    .table-triangle--asc:before {
      top: -27px;
      border-bottom: solid 6px gray; }
    .table-triangle--asc.active:before {
      border-bottom: solid 6px #0bc7e0; }
    .table-triangle--asc.hidden:before {
      border-bottom: solid 6px transparent; }
    .table-triangle--des:after {
      top: -18px;
      border-top: solid 6px gray; }
    .table-triangle--des.active:after {
      border-top: solid 6px #0bc7e0; }
    .table-triangle--des.hidden:after {
      border-top: solid 6px transparent; }
  .table-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%; }
    .table-date__title {
      color: #757575;
      text-align: center; }
    .table-date__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .table-date__content input {
        width: 70%;
        border-radius: 4px;
        border: 1px solid #C6C6C6; }
  .table-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(143, 143, 143, 0.4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .table-header__item {
      padding: 20px 15px;
      height: 100%;
      min-height: 130px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .table-header__item h5 {
        color: #757575; }
      .table-header__item input {
        text-align: center;
        margin: 10px 4px;
        border-radius: 4px;
        color: black;
        border: 1px solid #C6C6C6;
        padding: 7px;
        font-size: 16px; }
  .table-2 {
    width: 20%;
    font-size: 16px; }
  .table-3 {
    width: 30%; }
  .table-1 {
    width: 15%; }
  .table-25 {
    width: 25%; }
  .table-35 {
    width: 35%; }
  .table-40 {
    width: 40%; }
  .table-body__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid rgba(143, 143, 143, 0.4);
    border-left: 1px solid rgba(143, 143, 143, 0.4);
    border-right: 1px solid rgba(143, 143, 143, 0.4); }
    .table-body__item-c {
      margin: 20px;
      text-align: center; }
    .table-body__item:hover {
      background-color: #f3f7ff; }

.box-piesite {
  text-align: center;
  font-size: 22px; }

.piesite {
  position: relative;
  width: 1em;
  height: 1em;
  font-size: 10em;
  cursor: default; }

.piesite .percent {
  position: absolute;
  top: 1.1em;
  left: .1em;
  width: 100%;
  font-size: .3em;
  text-align: center;
  z-index: 2; }
  .piesite .percent .symbol {
    font-size: .5em;
    vertical-align: top;
    opacity: 1; }

.piesite > #slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0px, 1em, 1em, 0.5em); }

.piesite > #slice.gt50 {
  clip: rect(auto, auto, auto, auto); }

.piesite > #slice > .pie {
  position: absolute;
  border: .1em solid #d4d4d4;
  width: 1em;
  height: 1em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 0.5em; }

li.per-100 .piesite > #slice > .pie {
  border-color: #fed430; }

li.per-38 .piesite > #slice > .pie {
  border-color: #c4d42c; }

li.per-36 .piesite > #slice > .pie {
  border-color: #1db7bc; }

li.per-40 .piesite > #slice > .pie {
  border-color: #3581df; }

.piesite > #slice > .pie.fill {
  -webkit-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important; }

.piesite.fill > .percent {
  display: none; }

.piesite:after {
  content: '';
  display: block;
  position: absolute;
  top: .1em;
  left: .1em;
  width: .8em;
  height: .8em;
  background: white;
  border-radius: 100%;
  z-index: 1; }

.piesite:before {
  content: '';
  display: block;
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: .5em;
  opacity: 1;
  z-index: 0; }

.piesite:before {
  background: #aaa; }

.box-piesite ul {
  padding: 0; }

.box-piesite ul li {
  display: inline-block;
  margin: 10px 20px; }

.desc {
  max-width: 200px;
  margin: 0 auto;
  color: black; }

.desc .parragraph {
  font-size: 16px;
  line-height: 22px;
  margin: 20px 0; }

.desc .number {
  font-weight: bold;
  font-size: 25px; }

@media screen and (min-width: 600px) {
  .bar:before {
    font-size: 2em !important; }
  .chartBars3 .bar:before {
    font-size: 1.5em !important; } }

.modal-header {
  border-bottom: 1px solid transparent;
  padding: 0; }
  .modal-header button {
    position: absolute;
    right: 35px;
    top: 30px;
    z-index: 1;
    outline: none; }

.modal__report .report__content {
  padding: 40px; }

.modal__report .report__title h2 {
  font-size: 20px; }

.modal__report .report__title h1 {
  font-size: 30px; }

.modal__report .form__col {
  margin: 0 37px; }

.modal__report .form__ver p {
  margin: 0; }

.modal__img {
  width: 600px;
  height: auto; }

.text-body {
  color: #00bfdf; }
  .text-body h1 {
    color: #00bfdf; }
  .text-body p {
    color: #757575;
    margin-bottom: 2px; }
