@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html, body {
  margin: 0;
  padding: 0;
  color: #000; }

body {
  background: white;
  min-height: 100%; }

html, body, body {
  font-family: "Roboto", sans-serif; }

<<<<<<< HEAD
.form__col {
  padding-left: 50px; }

.form__title {
  font-size: 20px;
  font-weight: 800; }
  .form__title i {
    vertical-align: top;
    font-size: 15px;
    line-height: 22px; }

.form__step {
  font-size: 18px;
  font-weight: 800;
  color: blue;
  margin-bottom: 15px; }
  .form__step__info {
    margin-top: 30px;
    margin-bottom: 0; }

.form__wrapper {
  margin: 35px 0; }

.form__group {
  display: block;
  margin-bottom: 25px; }
  .form__group__checkbox .wpcf7-list-item-label {
    display: none; }
  .form__group__checkbox span.wpcf7-list-item {
    margin: 0; }
  .form__group__checkbox span input {
    position: relative;
    top: 0;
    margin: 0 0.7rem 0 0;
    cursor: pointer; }
    @media (min-width: 1920px) {
      .form__group__checkbox span input {
        margin: 0 1rem 0 0; } }
    .form__group__checkbox span input:before {
      -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
      transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
      -o-transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
      transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
      transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
      -webkit-transform: rotate(-45deg) scale(0, 0);
      -ms-transform: rotate(-45deg) scale(0, 0);
      transform: rotate(-45deg) scale(0, 0);
      content: "";
      position: absolute;
      left: 4px;
      top: 4px;
      z-index: 1;
      width: 0.75rem;
      height: 0.375rem;
      border: 2px solid #808080;
      border-top-style: none;
      border-right-style: none;
      margin: 0 1rem 0 0; }
    .form__group__checkbox span input:checked:before {
      -webkit-transform: rotate(-45deg) scale(1, 1);
      -ms-transform: rotate(-45deg) scale(1, 1);
      transform: rotate(-45deg) scale(1, 1); }
    .form__group__checkbox span input:after {
      content: "";
      position: absolute;
      top: -0.012rem;
      left: 0;
      width: 20px;
      height: 20px;
      background: #fff;
      border: 1px solid #808080;
      cursor: pointer; }
      @media (min-width: 1920px) {
        .form__group__checkbox span input:after {
          top: -0.125rem; } }
  .form__group br {
    display: none; }
  .form__group--reclamos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer; }
    .form__group--reclamos span:first-child {
      margin: 5px 0 0 0;
      width: 20px;
      display: block; }
    .form__group--reclamos .checkbox-general:after {
      border: 1px solid #808080; }

.form__label {
  font-weight: 500;
  color: black;
  display: block;
  margin-bottom: 5px; }

.form__input {
  border-radius: 0;
  font-weight: 500; }
  textarea.form__input {
    resize: vertical;
    min-height: 200px; }

.form__key-counter {
  font-weight: 500;
  margin-top: 5px;
  display: block; }

.form__info {
  font-weight: 500; }

.form__submit {
  text-align: right; }
  .form__submit__button {
    font-size: 18px;
    padding: 10px 40px;
    background: blue;
    border-color: transparent;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .form__submit__button i {
      vertical-align: top;
      line-height: 20px; }
    .form__submit__button:hover, .form__submit__button:focus {
      background: #0000e6;
      border-color: transparent;
      outline: 0; }
      .form__submit__button:hover:active, .form__submit__button:focus:active {
        background: #0000cc;
        border-color: transparent; }
    .form__submit__button:active {
      background: #0000cc;
      border-color: transparent; }

.form__file {
  position: relative;
  padding: 10px 40px;
  background: #5e5e5e;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer; }
  .form__file:hover, .form__file:focus {
    background: #515151;
    outline: 0; }
    .form__file:hover:active, .form__file:focus:active {
      background: #454545; }
  .form__file:active {
    background: #454545; }
  .form__file input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .form__file__text {
    font-size: 18px;
    font-weight: 800;
    color: white; }
  .form__file__name {
    display: inline;
    color: black;
    margin-left: 5px;
    font-weight: 500; }

.form__search p {
  font-weight: 500;
  margin-top: 5px; }

.form__search .form__group {
  padding-right: 78px;
  position: relative; }

.form__search .form__input {
  border: 1px solid blue; }

.form__search .form__search__icon {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  border-radius: 0;
  background: blue;
  color: white;
  background-size: 25px auto;
  border: 1px solid blue;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  height: 34px; }
  .form__search .form__search__icon:hover, .form__search .form__search__icon:focus {
    background-color: #0000e6;
    border: 1px solid #0000e6; }
  .form__search .form__search__icon:active {
    background-color: #0000cc;
    border: 1px solid #0000cc; }
  .form__search .form__search__icon:focus {
    outline: 0; }
  .form__search .form__search__icon img {
    width: 20px; }

.form__conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -25px;
  position: relative; }
  .form__conditions .wpcf7-list-item {
    margin: 0; }

.form__row {
  margin-bottom: 20px; }
  .form__row label {
    margin: 0 0 13px 0; }
  .form__row--textarea div {
    position: relative; }
    .form__row--textarea div label {
      position: absolute;
      left: 30px;
      top: 27px;
      z-index: 1; }

.js__form.active label {
  color: blue; }

.js__form.active input {
  border-bottom: 2px solid blue; }

.js__form.active textarea {
  border: 2px solid blue; }

#mapa-principal {
  height: 400px; }
  @media (min-width: 360px) {
    #mapa-principal {
      height: 516px; } }

.form-field {
  position: relative;
  margin: 0 0 40px 0; }

label {
  position: relative;
  margin: 0px;
  line-height: 36px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  cursor: text; }

.form-control-vida {
  width: 100%;
  border-top: 0px solid transparent;
  border-bottom: 2px solid #808080;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 30px;
  font-family: 'Arial';
  font-weight: 600;
  font-size: 16px; }
  .form-control-vida:focus {
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #808080;
    outline: transparent auto 5px; }
  .form-control-vida:focus + .label-vida, .form-control-vida.not-empty + .label-vida {
    -webkit-transform: translateY(-27px);
    -ms-transform: translateY(-27px);
    transform: translateY(-27px); }

.form-control-vida-textarea {
  width: 100%;
  border: 2px solid #808080;
  height: 130px;
  resize: none;
  padding: 0;
  border-radius: 0;
  overflow: hidden;
  padding: 5px;
  font-weight: 600; }
  .form-control-vida-textarea:focus {
    border-bottom: 2px solid #808080;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: 2px solid transparent;
    outline: transparent auto 5px; }
  .form-control-vida-textarea:focus + .label-vida-textarea, .form-control-vida-textarea.not-empty + .label-vida-textarea {
    -webkit-transform: translateY(-38px);
    -ms-transform: translateY(-38px);
    transform: translateY(-38px); }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.checkbox-general {
  position: relative;
  top: 0;
  margin: 0 0.7rem 0 0;
  cursor: pointer; }
  @media (min-width: 1920px) {
    .checkbox-general {
      margin: 0 1rem 0 0; } }
  .checkbox-general:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -o-transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    -ms-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    z-index: 1;
    width: 0.75rem;
    height: 0.375rem;
    border: 2px solid #808080;
    border-top-style: none;
    border-right-style: none;
    margin: 0 1rem 0 0; }
  .checkbox-general:checked:before {
    -webkit-transform: rotate(-45deg) scale(1, 1);
    -ms-transform: rotate(-45deg) scale(1, 1);
    transform: rotate(-45deg) scale(1, 1); }
  .checkbox-general:after {
    content: "";
    position: absolute;
    top: -0.012rem;
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #808080;
    cursor: pointer; }
    @media (min-width: 1920px) {
      .checkbox-general:after {
        top: -0.125rem; } }
=======
li {
  list-style: none; }

p {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  width: inherit;
  height: inherit; }

a {
  text-transform: none;
  text-decoration: none; }
  a:active, a:focus, a:hover {
    text-decoration: underline;
    text-decoration: none;
    outline: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

input {
  outline-color: transparent; }
  input:focus, input:active {
    outline-color: transparent; }

.main {
  min-height: calc(100vh - 149px); }
  @media (min-width: 600px) {
    .main {
      min-height: calc(100vh - 127px); } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0; }

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px; }
  @media screen and (min-width: 768px) {
    .container {
      padding: 0 60px; } }
  @media screen and (min-width: 1280px) {
    .container {
      padding: 0 70px; } }
  @media screen and (min-width: 1420px) {
    .container {
      padding: 0 80px; } }
>>>>>>> 702e97988a60f6171146a621779e240ebee4ed97
